{% extends "base.html" %}

{% block content %}
	<h1>Python GuestBook</h1>

	<h2>Top 10 most recent guestbook entries</h2>
	{% for greeting in greetings %}
		<br/>
		<small>[<i>{{ greeting.date.ctime }}</i>]</small>
		<b>
			{% if greeting.author %}
				<code>{{ greeting.author.nickname }}</code>
			{% else %}
				<i>anonymous</i>
			{% endif %}
		</b>
		wrote: &quot; {{ greeting.content|escape }} &quot;
	{% endfor %}
	<hr>

	<form action="/sign" method=post>
    	<textarea name=content rows=3 cols=60></textarea>
    	<br>
    	<input type=submit value="Sign Guestbook">
	</form>
{% endblock %}

